.recent-files-page {
  background-color: $color-dashboard;
  border-top-right-radius: $br-huge;
  border-top-left-radius: $br-huge;
  flex: 1 0 0;
  margin-right: $small;
  overflow-y: auto;
}

.recent-files-row {
  margin-bottom: $medium;
}

.recent-files-row-title {
  background: $color-white;
  border-radius: $br-small;
  display: flex;
  flex-direction: row;
  margin-left: $medium;
  margin-top: $medium;
  padding: $small;
  width: fit-content;
}

.recent-files-row-title-name, .recent-files-row-title-info {
  font-size: 15px;
  line-height: 1rem;
  font-weight: unset;
}

.recent-files-row-title-name {
  color: black;
  margin-right: $medium;
}

.recent-files-row-title-info {
  color: $color-gray-30
}

.recent-files-empty {
  margin: 30px;
  font-size: 20px
}
